Aantekening 2019-11-04 174513.jpg
test.py
/.vscode/*
Application/Pygame/__pycache__/*
Application/Pygame/Scripts/Binairo/__pycache__/*
Application/Pygame/Scripts/General/__pycache__/*
Application/Pygame/Scripts/MainMenu/__pycache__/*
Application/Pygame/Scripts/Sudoku/__pycache__/*
Application/Pygame/Settings/__pycache__/*
